.team-matches-container {
  background-color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-image {
  width: 90%;
}

.teamMatches-sub-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.match-card-component {
  width: 90%;
  /* border: 1px solid white; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.latest-matches-content {
  color: white;
}

.latest-matches-content-container {
  /* border: 1px solid white; */
  width: 90%;
}
